doctype html
html
    head
        title= title
        //Bootstrap
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-reboot.min.css')


        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')


        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Gentelella Alela! |
        // Bootstrap
        link(href='/stylesheets/vendors/bootstrap/dist/css/bootstrap.min.css')
        // Font Awesome
        link(href='/stylesheets/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // NProgress
        link(href='/stylesheets/vendors/nprogress/nprogress.css', rel='stylesheet')
        // Custom Theme Style
        link(href='/stylesheets/build/css/custom.min.css', rel='stylesheet')
        //link(rel='stylesheet', href='/stylesheets/style_statestieken.css')
        link(rel='stylesheet', href='/stylesheets/style_dashboard.css')



    body
        .container-fluid
            div
                .col-lg-2.d-none.d-lg-block
                    .left_col.scroll-view
                        .profile.clearfix
                            .profile_pic
                                img.img-circle.profile_img(src='/steven.jpg')
                            .profile_info
                                span Welkom
                                h3 Steven Lankheet
                            .clearfix
                        br
                        // sidebar menu
                        #sidebar-menu.main_menu_side.hidden-print.main_menu
                            .menu_section
                                h3 Bierrekening
                                ul.nav.side-menu
                                    li.breed
                                        a(href='/dashboard')
                                            i.fa.fa-home
                                            |  Home

                                    li.breed
                                        a(href='/dashboard/ladingen')
                                            i.fa.fa-table
                                            |  Alle ladingen

                                    li.breed
                                        a(href='/dashboard/account')
                                            i.fa.fa-user
                                            |  Account

                                    li.breed
                                        a(href='/login')
                                            i.glyphicon.glyphicon-off
                                            |  Uitloggen


                            .menu_section
                                h3 Level 10
                                ul.nav.side-menu
                                    li.breed
                                        a
                                            i.fa.fa-bug
                                            |  Additional Pages
                                            span.fa.fa-chevron-down
                                        ul.nav.child_menu
                                            li
                                                a(href='e_commerce.html') E-commerce
                                            li
                                                a(href='projects.html') Projects
                                            li
                                                a(href='project_detail.html') Project Detail
                                            li
                                                a(href='contacts.html') Contacts
                                            li
                                                a(href='profile.html') Profile
                                    li.breed
                                        a
                                            i.fa.fa-windows
                                            |  Extras
                                            span.fa.fa-chevron-down
                                        ul.nav.child_menu
                                            li
                                                a(href='page_403.html') 403 Error
                                            li
                                                a(href='page_404.html') 404 Error
                                            li
                                                a(href='page_500.html') 500 Error
                                            li
                                                a(href='plain_page.html') Plain Page
                                            li
                                                a(href='login.html') Login Page
                                            li
                                                a(href='pricing_tables.html') Pricing Tables
                                    li.breed
                                        a
                                            i.fa.fa-sitemap
                                            |  Multilevel Menu
                                            span.fa.fa-chevron-down
                                        ul.nav.child_menu
                                            li
                                                a(href='#level1_1') Level One
                                            li
                                                a
                                                    | Level One
                                                    span.fa.fa-chevron-down
                                                ul.nav.child_menu
                                                    li.sub_menu
                                                        a(href='level2.html') Level Two
                                                    li
                                                        a(href='#level2_1') Level Two
                                                    li
                                                        a(href='#level2_2') Level Two
                                            li
                                                a(href='#level1_2') Level One
                                    li.breed
                                        a(href='javascript:void(0)')
                                            i.fa.fa-laptop
                                            |  Landing Page
                                            span.label.label-success.pull-right Coming Soon

                            script(src='/javascripts/bierrekening.js')
                            // jQuery
                            script(src='/stylesheets/vendors/jquery/dist/jquery.min.js')
                            // Bootstrap
                            script(src='/stylesheets/vendors/bootstrap/dist/js/bootstrap.min.js')
                            // FastClick
                            script(src='/stylesheets/vendors/fastclick/lib/fastclick.js')
                            // NProgress
                            script(src='/stylesheets/vendors/nprogress/nprogress.js')
                            // time library
                            script(src='/stylesheets/vendors/moment/min/moment.min.js')
                            // Custom Theme Scripts
                            script(src='/stylesheets/build/js/custom.min.js')
                            script(src='/stylesheets/build/js/qrcode.min.js')
                            script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')



                block homepage
                block lading
                block account

