
extends layout_inloggen

block bier
  .login

    .login_wrapper
      .animate.form.login_form
        section.login_content
          form
            h1 Login Form
            div
              input.form-control(type='text', placeholder='Username', required='')
            div
              input.form-control(type='password', placeholder='Password', required='')
            div
              a.btn.btn-default.submit(href='bierrekening') Log in
              a.btn.btn-default.submit(href='streep') ga naar strepen
            .clearfix



    //
      block strepen
      div.streepapp
        div.linkerkant
          div.linksboven
            img.plaatje(src="http://placehold.it/150")
          div.linksonder
            button(onclick="streep()", title= 'give the time', class="button")
              script(src='/javascripts/bierrekening.js')

        div.rechterkant
          Div.personen
            table#test
          div.bieren
      div
        #bericht
          p nog niet gestreept

      div
        div
          button(onclick="personen()")
          p klik hierboven om de personen tabel te vullen



