extends layout_bierrekening_account


block account
    .col-md-4.col-sm-6.col-xs-12
        .x_panel.marginaccountinfo.hoogte
            .x_title
                h2
                    | Saldo
                .clearfix
            .x_content.extrapadding
                .widget_summary.extrapadding
                    .w_left.w_55.font-weight-bold
                        span Voorlopig saldo:
                    .w_center.w_55
                        span 32,33
                    .clearfix
                .widget_summary.extrapadding
                    .w_left.w_55.font-weight-bold
                        span huidig saldo:
                    .w_center.w_55
                        span 44,33
                    .clearfix
                .widget_summary.extrapadding
                    .w_left.w_55.font-weight-bold
                        span geschatte kosten open ladingen:
                    .w_center.w_55
                        span 8,33
                    .clearfix
                .widget_summary.extrapadding
                    .w_left.w_55.font-weight-bold
                        span Lid sinds:
                    .w_center.w_55
                        span 12/08/15
                    .clearfix
    .col-md-4.col-sm-6.col-xs-12
        .x_panel.marginaccountinfo.hoogte
            .x_title
                h2
                    | Account info
                .clearfix
            .x_content.extrapadding
                .widget_summary.extrapadding
                    .w_left.w_25.font-weight-bold
                        span Naam:
                    .w_center.w_55
                        span Steven Lankheet
                    .clearfix
                .widget_summary.extrapadding
                    .w_left.w_25.font-weight-bold
                        span Email:
                    .w_center.w_55
                        span Steven@Lankheet.com
                    .clearfix
                .widget_summary.extrapadding
                    .w_left.w_25.font-weight-bold
                        span IBan:
                    .w_center.w_55
                        span Nl30 INGB 00192912312
                    .clearfix
                .widget_summary.extrapadding
                    .w_left.w_25.font-weight-bold
                        span Lid sinds:
                    .w_center.w_55
                        span 12/08/15
                    .clearfix
    .col-md-4.col-sm-6.col-xs-12
        .x_panel.marginaccountinfo.hoogte2
            .x_title
                h2
                    | Saldo opwaarderen QR code
                .clearfix
            .x_content.extrapadding
                button.panel-button.btn.btn-danger(data-panelid = "10") 10 euro
                    button.panel-button.btn.btn-warning(data-panelid = "20") 20 euro
                    button.panel-button.btn.btn-warning(data-panelid = "50") 50 euro
                    button.panel-button.btn.btn-success(data-panelid = "100") 100 euro
    .col-md-4.col-sm-6.col-xs-12
        .x_panel.marginaccountinfo.hoogte2
            .x_title
                h2
                    | Saldo opwaarderen overmaken
                .clearfix
            .x_content.extrapadding
                .widget_summary.extrapadding
                    .w_left.w_25.font-weight-bold
                        span Biercommander:
                    .w_center.w_55
                        span Micheal Hop
                    .clearfix
                .widget_summary.extrapadding
                    .w_left.w_25.font-weight-bold
                        span IBan:
                    .w_center.w_55
                        span Nl30 INGB 00192912312
