doctype html
html
  head
    title= title
    //Bootstrap
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-reboot.min.css')
    //Own stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
