doctype html
html
  head
    title= title
    //Bootstrap
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-reboot.min.css')
    //Own stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gentelella Alela! |
    // Bootstrap
    link(href='/stylesheets/vendors/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(href='/stylesheets/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/stylesheets/vendors/nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    //link(href='/stylesheets/build/css/custom.min.css', rel='stylesheet')


    script(async='', src='//www.google-analytics.com/analytics.js')
  body
    block content
