doctype html
html
  head
    title= title
    //Bootstrap
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-reboot.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway" )
    //Own stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascript/strepen.js')
