extends layout
block content
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    div.center.totalview
        div.header
           p.large 30 seconds game
        div.info
            p.large Score: #{score}
            p The playing team number: #{team_playing}
            p Team name: #{team_names}

        form(method='post' action='/30seconds/submit')
            div.form_box
                each val in words
                    div(style="margin-left: 25px;")
                    p.button_word #{val}
                    input.center_content(type="checkbox" name= val value="button" style="float: left;")
                br
                br
                input(type="submit" value="submit")
        <progress value="0" max="10" id="progressBar"></progress>
        p#time_bar De tijd loopt

        script(src='/javascripts/test_30seconds.js')
