body {
    background-color: #2c3e50;
    background-image: url("../pictures/background_3.jpg");
    background-size: cover;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
h {
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/*START BOOTSTRAP EDIT*/
.container-fluid {
    padding: 0px 15px;
}

.col-2 {
    padding: 0px;
}

.col-10 {
    padding: 0px;
}

/*END BOOTSTRAP EDIT*/

div.topblock {
    height: 75vh;
}

div.bottomblock {
    height: 25vh;
}

div.usersList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 75vh;
}

div.featurelist{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 75vh;
}

div.ladinglist{
    display: flex;
    overflow-x: auto;
    max-height: 25vh;
}

div.itemwrapper {
    height: 25vh;
    padding: 5px;
}

div.itemblock {
    height: 100%;
    background-color: white;
    border-radius: 2px;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

.profilePicture {
    min-height: 70%;
    max-height: 70%;
    max-width: 100%;
    margin: auto;

}

.topRowInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottomRowInfo {
    display: flex;
    justify-content: center;
}

#confirm {
    background-color: #16a085;
}

.checkmark {
    max-width: 75%;
    max-height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: #ecf0f1;
}

.button:hover {
    background-color: #ffff00;
}

