body {
    background-color: #192a56;
    background-image: url("../pictures/background.jpg");
}

p {
    font-family: 'Raleway', sans-serif;
}
h {
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/*START BOOTSTRAP EDIT*/
.container-fluid {
    padding: 0px 15px;
}

.col-2 {
    padding: 0px;
}

.col-10 {
    padding: 0px;
}

/*END BOOTSTRAP EDIT*/

div.topblock {
    height: 75vh;
}

div.bottomblock {
    height: 25vh;
}

div.usersList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 75vh;
}

div.featurelist{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 75vh;
}

div.ladinglist{
    display: flex;
    overflow-x: auto;
    max-height: 25vh;
}

div.itemwrapper {
    height: 25vh;
    padding: 5px;
}

div.itemblock {
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

#confirm {
    background-color: #1abc9c;
}

#button {
    background-color: #ecf0f1;
}

