body {
    background-color: #ecf0f1;
}

#bericht {
    color: red;
    font-size: 30px;
}

.knop {
    background: grey;
    height:100%;
    margin:10px;
    color: black;
    font-size: x-large;
}

#demo {
    background: grey;
    width:100px;
    height:100px;
}

#test {
    background: grey;
    width: 100%;
    height: 100%;
}

div.persoon {
    width:100%;
    height: 40px;
}


.flex-container {
    display: flex;
    justify-content: space-around;
}

.ding {
    position: relative;
}


.menu_section {
    font-size: 12px;
}
.breed {
    width: 90%;
    margin-left: 10px;

}


.home {
    font-size: 30px;
    color: #4E4D4B;
    background:#95a5a6;
}

.blokje {

    background:#bdc3c7;
}

.navbarrr {
    font-size: 30px;
    background:#253649;
    color: white;
}



.glyphicon.glyphicon-euro {
    font-size: 30px;
}

.main_menu{
    height: 100vh;              //linker_menu_balk
}

.topbalk {
    height: 30px;
    background: grey;
}
.container-fluid {
    padding: 0px;
    margin-bottom: 0px;
    height: 100%;
}
.col-lg-2 {
    padding: 0px;
}
.tile_count {
    margin-top: 8px;
    margin-bottom: 5px;
}
.x_panel, .x_content {
    padding: 3px;
}
.x_title {
    margin-bottom: 0;
}
.extrapadding {
    margin-bottom: 6px;

}
.marginaccountinfo {
    margin-top: 25px;
    margin-left: 25px;
}
.hoogte {
    height:180px;
}
.hoogte2 {
    height:120px;
}
#qrcode {
    width: 40vw;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;

}
.panel-button {
    margin-left: 3%;
    margin-right: 3%;


}
img{vertical-align: middle; height: 100%; width: 100%; object-fit:contain; padding-top: 1.5vh}



p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
h {
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/*START BOOTSTRAP EDIT*/


.col-2 {
    padding: 0px;
}

.col-10 {
    padding: 0px;
}

/*END BOOTSTRAP EDIT*/

div.topblock {
    height: 75vh;
}

div.bottomblock {
    height: 25vh;
}

div.usersList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 75vh;
}

div.featurelist{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 75vh;
}

div.ladinglist{
    display: flex;
    overflow-x: auto;
    max-height: 25vh;
}

div.itemwrapper {
    height: 25vh;
    padding: 5px;
}

div.itemblock {
    height: 100%;
    background-color: white;
    border-radius: 2px;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

.profilePicture {
    min-height: 70%;
    max-height: 70%;
    max-width: 100%;
    margin: auto;

}

.topRowInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottomRowInfo {
    display: flex;
    justify-content: center;
}

#confirm {
    background-color: #16a085;
}

.checkmark {
    max-width: 75%;
    max-height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected {
    background-color: #ffff00 !important;

}
/*sidebarr*/
.sidebar {
    margin-left:-100%;
    z-index: 100;
    width: 10vw;
    padding-bottom: 10px;
    position: absolute;
    background-color: grey;
    float: left;

}

.sidebar-button {
    margin-left: auto;
    margin-right: auto;

}