.container {
    background: #545b62;

    /* give the outermost container a predefined size */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 600px;

    display: flex;
    flex-direction: column;
}

.section {
    margin: 10px;
    background: #2196F3;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    /* for Firefox */
    min-height: 0;
}

.content {
    margin: 10px;
    background: #BBDEFB;
}

.scrollable-content {
    background: white;
    flex-grow: 1;

    overflow: auto;

    /* for Firefox */
    min-height: 0;
}

.streep_user {
    background: white;
    border-style: solid;
    border-width: 3px;
    border-color: red;
}

#demo {
    background: green;
    width: fit-content;
    height: 50px;
}

.button{
    background: green;
    width: 50px;
    height: 50px;
}